/* I must be honest here - my portfolio CSS is a mess */
/* Usually I make cleaner code */
/* With love - Freddy */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Rancho');

.pad {
	padding: 5% 5px;
}
.slip {
	background-color: #c1a081;
}
.new {
	color: white;
}
.new:hover {
	color: white;
}

.block-1 {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.664)), url(../includes/title1.png);
	border-radius: 10px;
	background-size: 70%;
	border: none;
}
.block-2 {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.664)), url(../includes/title1.png);
	border-radius: 10px;
	background-size: 70%;
	border: none;
}

.block-3 {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.664)), url(../includes/title3.png);
	border-radius: 10px;
	background-size: 70%;
	border: none;
}
.block-4 {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.664)), url(../includes/title2.png);
	border-radius: 10px;
	background-size: 70%;
	border: none;
}

.block-5 {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.664)), url(../includes/title1.png);
	border-radius: 10px;
	background-size: 70%;
	border: none;
}
.block-6 {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.664)), url(../includes/title2.png);
	border-radius: 10px;
	background-size: 70%;
	border: none;
}
hr {
	height: 1px;
	color: #ffffff;
	background-color: #ffffff;
	border: none;
}
.bd-callout-warning {
	border-left-color: #1C849B;
}
p {
	font-size: 16px;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
}
.p-sm {
	font-size: 14px;
	color: white;
	font-weight: bold;
	margin: 6px 20px;
}


img {
	width: 125px;
	height: 125px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;

}
.p-sm-s {
	font-size: 14px;
	color: rgb(255, 255, 255);
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.hf {
    background-color: #FA618D;
	background-image: linear-gradient(to right, #F6519E 0%, #FF7477 100%);
	font-size: 12px;
}


h2 {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

h3 {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.container {
	margin: 10% auto;
	background-color: #ffffff;
	border-radius: 25px;
	color: black;
	padding: 0px;
}
.col-md-4 {
	padding: 5%;
	text-align: center;
}
i {
	font-size: 1.8em;
	padding: 0 20px;
}
html {
	height: 100%;
	width: 100%;
}
a,a:hover {
	color: black;
}

span {
	font-family: 'Rancho', cursive;
	font-size: 24px;
}
